@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)


  .owl-compare
    padding-right: 30%
    .owl-thumbs
      right: -23%
      .owl-thumb-item
        width: 50%

  .owl-comments
    .owl-nav
      bottom: 250px
    .owl-prev
      left: -50px
    .owl-next
      right: -50px

  .s-care
    .content
      left: 288px
  .service-content
    .service-title
      font-size: 18px
    .service-value
      font-size: 24px


  .main-mnu
    font-size: 13px
  .phones
    font-size: 16px
  .top-line
    height: 160px
  .logo
    width: 20%
    left: calc(50% - 85px)
    top: 40px
    .soc-item
      margin: 0 12px
  .welcome-title
    font-size: 63px
  .header-form
    label
      width: 280px
      margin: 0 15px
    input[type="text"]
      padding-bottom: 25px
      padding-top: 25px
    .btn
      width: 280px
      padding-bottom: 25px
      padding-top: 25px
      margin: 0 15px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .quality-item-desc
    font-size: 15px
    margin-top: -10px

  .s-compare
    padding-bottom: 90px
    .section-title
      left: 0
      font-size: 30px
    .section-content
      margin-top: 90px
    .compare-desc
      margin-top: 60px
      padding: 0
      &:before
        left: 0
      &:after
        right: 0

  .owl-compare
    .owl-thumbs
      right: -52%
      .owl-thumb-item
        width: 30%


  .owl-comments
    .owl-nav
      bottom: 275px
    .owl-prev
      left: -70px
    .owl-next
      right: -70px

  .s-care
    .content
      left: 170px
  .service-content
    .service-title
      font-size: 18px
    .service-value
      font-size: 24px

  .top-line
    height: 82px
  .logo
    width: 24%
    top: 85px
  .s-welcome
    padding-top: 250px
  .welcome-title
    font-size: 50px
    &:after
      width: 250px
      height: 10px
    .from
      left: 270px
  .img-name
    margin-top: 50px
  .slogan
    margin-top: 65px
    font-size: 32px
  .header-form
    label
      text-align: center
      display: block
      width: 300px
      margin: 0 auto 20px
    .btn
      width: 300px
      margin: 0 10px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  .quality-item
    margin-bottom: 30px

  .quality-item-desc
    font-size: 18px
    margin-top: 5px

  .how-item
    margin-bottom: 30px

  .how-item-desc
    margin-top: 10px
  .how-item-title
    margin-top: 5px

  .s-compare
    .section-title
      position: relative
      text-align: center
    .section-content
      margin-top: 60px

  .owl-compare
    margin-top: 80px
    padding: 0
    .owl-thumbs
      position: relative
      width: 100%
      right: 0
      .owl-thumb-item
        display: inline-block
        margin-right: 15px
  .logo
    width: 35%
  .popup-gallery
    img
      width: 100%
  .window-sert
    img
      width: 75%

  .owl-comments
    .owl-nav
      bottom: 500px
    .owl-prev
      left: 0
    .owl-next
      right: 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .s-comments, .s-compare, .s-how, .s-quality
    .section-title
      &:after
        left: 20%
        width: 60%

  .quality-item-desc
    font-size: 15px

  .s-how
    .section-desc
      font-size: 24px
      line-height: 1.2

  .s-compare
    padding-bottom: 40px

  .section-title
    line-height: 1.3

  .s-comments
    padding-bottom: 100px

  .owl-comments
    .owl-nav
      position: relative
      bottom: 0
      width: 70%
      margin: 0 auto
    .owl-next, .owl-prev
      background-color: transparent
      &:hover
        background-color: transparent

  .s-care
    .bg1
      left: -50px
      img
        width: 150px


  .window-sert
    img
      width: 95%

  .section-title
    font-size: 28px
    &:after
      height: 5px
      bottom: -15px

  .service-content
    .service-title
      font-size: 11px
      &:after
        height: 7px
        bottom: -15px
    .service-value
      font-size: 20px
      margin-top: 32px

  .gallery-wrapper
    margin-top: 60px


  .s-care
    .section-title
      &:after
        left: 20%
        width: 60%

    .content
      left: 0
      margin-top: 25px
      text-align: center

  .phones
    background: none
    font-size: 15px
    padding: 0
    position: relative
    top: -5px
    a
      display: block
      margin-bottom: 15px
    a+a
      margin: 0
  .logo
    width: 200px
    left: calc(50% - 100px)
  .welcome-title
    font-size: 30px
    line-height: 1.2
    &:after
      width: 120px
      height: 6px
      left: 93px
      bottom: -12px
    .from
      display: none
  .s-welcome
    padding-top: 275px
  .slogan
    font-size: 20px
  .header-form
    label
      width: 100%
      input[type="text"]
        font-size: 16px
        padding-top: 20px
        padding-bottom: 20px
    .btn
      width: 100%
      margin: 0
      padding-top: 20px
      padding-bottom: 20px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

